# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache

# Mac/OSX
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Model checkpoints
checkpoints/
*.pth

# Tensorboard summaries
runs_nowin_tblogs/
lightning_logs/
runs/
tb_logs/
events.*
*.yaml
*acdc*/

# images
*.jpg
*.png
*.tif
*.nii.gz
*_CITATION.md
Info.cfg